* {
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    text-align: center;
    /* Is width se text teen lines mein break hoga */
    max-width: 420px; 
}

#verification_heading {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#verification_subtext {
    color: #777;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.code {
    width: 60px;
    height: 80px;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    font-size: 2rem;
    text-align: center;
    background-color: white;
    font-weight: bold;
    transition: border-color 0.2s;
}

/* Chrome/Safari arrows removal */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Jab box par click ho (Blue border) */
.code:focus {
    border-color: #3498db; 
    outline: none;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.2);
}